/*reset*/
.mobile {display: none !important;}
br.only-m {content: '';}
br.only-m::after {content: '\00a0';}


@import 'pieces/_fonts';
// 색상
$color-blue: #1178D4;
$color-grey:#9C9999;



// 폰트크기
$font-size: 12px 14px 18px 28px;

@mixin x-small-text {
    font-size: nth($font-size, 1);
    font-weight: 700;

}

@mixin small-text {
    font-size: nth($font-size, 2);
    font-weight: 500;

}

@mixin medium-text {
    font-size: nth($font-size, 3);
    font-weight: 700;

}

@mixin large-text {
    font-size: nth($font-size, 4);
    font-weight: 700;

}

@mixin medium-price {
    p {
        @include x-small-text;
        color: #9C9999;
        padding-top: 5px;
    }

    h3 {
        @include medium-text;
        color: #333333;

    }

    span {
        @include small-text;
        padding: 5px;
        color: $color-grey;
    }

    .price {
        @include medium-text;
        padding: 5px;
    }

}

// 이미지리스트반복
@mixin list-row {
    display: flex;
    justify-content: center;
    align-items: center;


}



/* common */
body {
    font-family: 'NotoSansKR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    background: #ffffff;
}

#wrapper {
    position: relative;
    min-width: 1024px;
    height: 100%;
    overflow: hidden;
}
div.content-box {
    position: relative;
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;


}

#skip-nav {
    position: fixed;
    left: 0;
    top: -40px;
    width: 100%;
    line-height: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    font-size: 16px;
    transition: top 0.3s;
    z-index: 100000;
}

#skip-nav:focus {
    top: 0;
}

.logo {
    position: absolute;
    left: 10%;
    top: 12px;
}

.logo img {
    width: 120px;
    height: 60px;
}




/* header */
#header {
    position: fixed;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #D9D9D9;
    background-color: #ffff;
    z-index: 10000;
}




ul.utill {
    position: absolute;
    top: 12px;
    right: 20%;
    font-size: 8px;
}

ul.utill li {
    position: relative;
    float: left;
    margin-right: 10px;
}

ul.utill li a::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 10px;
    margin-left: 5px;
    top: 2px;
    background-color: #D9D9D9;
}

ul.utill li:last-child a::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
}

ul.gnb-box {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0);
}

ul.gnb-box li {
    float: left;
    text-align: center;
    padding-left: 46px;
}

ul.search {
    position: absolute;
    top: 40%;
    right: 20%;
    font-size: 28px;
    font-weight: 400;
}

ul.search li {
    float: right;
    padding-right: 18px;
}

/* main */
main {
    padding-top: 80px;
}

section.main-visual p.dummy {
    opacity: 0;
}

section.main-visual {
    position: relative;
    width: 100%;

}

section.main-visual div.box {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}
section.main-visual div.box img {
    width: 100%;
}
section.main-visual ul.main-banner {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0%;
}

section.main-visual ul.main-banner>li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


section.main-visual ul.main-banner>li:first-child {
    display: block;
}

section.main-visual .control a.prev,
section.main-visual .control a.next {
    position: absolute;
    top: 50%;
    width: 40px;
    font-size: 36px;
    transform: translate(-50%, 0);
}



section.main-visual .control a.prev {
    left: 60px;
}


section.main-visual .control a.next {
    right: 60px;
}

section.main-visual .control>a.play {
    position: absolute;
    right: calc(50% - 100px);
    font-size: 20px;
    bottom: 34px;

}

.control>a.play i {
    display: none;
}

section.main-visual .control>a.play i:first-child {
    display: block;
}

section.main-visual .control>a.play.on i:first-child {
    display: none;
}

section.main-visual .control>a.play.on i+i {
    display: block;
}


span.bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: #333333;
}

span.bar.on {
    animation: bar-animation 2s linear 0s 1 alternate forwards;

}



ul.indicator {
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

ul.indicator>li {
    display: inline-block;
}

ul.indicator>li>a {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: $color-grey;
    opacity: .6;
    text-indent: -9999px;
}

ul.indicator>li.on>a {
    width: 20px;
    border-radius: 30px;
    background-color: #000;
    opacity: 1;
}



/* concert */
section.concert {
    position: relative;
    width: 100%;
    height: 500px;
}

section.concert .tit {
    position: absolute;
    left: 30%;
    top: 10%;
}


section.concert .tit strong {
    @include large-text;
}


section.concert .tit p {
    font-size: 16px;
    color: $color-grey;
}

ul.concert-list {
    position: absolute;
    height: 100%;
    right: 10%;
    padding-top: 40px;
}

ul.concert-list li {
    float: left;
    padding-left: 20px;
}

ul.concert-list h3 {
    padding-top: 5px;
    color: $color-blue;
    @include medium-text;
}

ul.concert-list img {
    display: block;
    width: 348px;
    height: 320px;
    background-color: #333333;
}

ul.concert-list span {
    @include x-small-text;
    color: $color-grey;
}

ul.concert-list p {
    @include medium-text;
}

/* Recommendation */
section.recommendation {
    position: relative;
    width: 100%;
    height: 800px;
}

.recommendation h2 {
    text-align: center;
    font-size: 28px;
    padding-top: 10px;
}

.recommendation ul.book {
    @include list-row;
}

.recommendation ul.book li {
    @include list-row;
    padding: 20px 30px;

}

.recommendation ul.book li img {
    display: block;
    width: 100%;
    height: 500px;
}

.recommendation ul.book li p {
    @include x-small-text;
    color: #9C9999;
    padding-top: 5px;
}

.recommendation ul.book li h3 {
    @include medium-text;
    color: #333333;

}

.recommendation ul.book li span {
    @include small-text;
    padding: 5px;
    color: $color-grey;
}

.recommendation .price {
    @include medium-text;
    padding: 5px;
}

.recommendation .price em {
    font-weight: 700;
    color: $color-blue;
}

/* newbook */
section.new-book {
    position: relative;
    width: 100%;
    height: 518px;
    background-color: #EAF4F6;
}

section.new-book h2 {
    position: absolute;
    left: 30%;
    top: 28px;
    font-size: 24px;
    height: 29px;
}

section.new-book h2 em {
    color: $color-blue;
    font-weight: 700;
}

section.new-book ul {
    position: absolute;
    width: 100%;
    height: 100%;
}

section.new-book ul li {
    position: absolute;
    width: 847px;
    height: 318px;
    padding-top: 40px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: #fff;
}

section.new-book ul li a {
    display: block;
    width: 100%;
    height: 100%;
}

section.new-book ul li img {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 382px;
    height: 100%;
}

section.new-book ul li div.text {
    float: right;
    width: 40%;
    transform: translateY(40%);
}

section.new-book ul li div.text h3 {
    font-size: 24px;
}

section.new-book ul li div.text>span {
    font-size: 12px;
    color: $color-grey;
    line-height: 1.5;
}

section.new-book ul li .price {
    font-size: 24px;
    padding: 5px;
}

section.new-book ul li .price em {
    font-weight: 700;
    color: $color-blue;
}

section.new-book ul li .price span {
    font-size: 18px;
    color: $color-grey;
}


/* banner */
.banner {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 30px;
}

.banner p {
    width: 878px;
    height: 94px;
    text-align: center;
    background-color: #97C0EE;
    margin: 0 auto;
    font-size: 24px;
    line-height: 94px;
    color: #fff;
}

/* best-seller */

section.best-seller {
    position: relative;
    width: 100%;
    height: 900px;
}

section.best-seller h2 {
    font-size: 24px;
    text-align: center;
    padding-top: 40px;
}

.tab-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 40%;

}

.tab-menu>li {
    float: left;
    margin: 20px 10px;

}

.tab-menu>li>a.tab {
    display: inline-block;
    width: 100px;
    height: 42px;
    line-height: 42px;
    border: 1px solid #D9D9D9;
    border-radius: 34px;
    text-align: center;
    background-color: #ffffff;
}

.tab-menu>li>a.tab.open {
    display: inline-block;
    width:100px;
    height: 42px;
    line-height: 42px;
    border-radius: 34px;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    background-color: #D9D9D9;
}
.tab-menu>li>a.tab:hover{
    background-color: #D9D9D9;
    font-weight: 700;
    color: #ffffff;
}

.tab-menu li ul.best-book {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 30%;
    top: 10%;
    padding-top: 10px;
    transform: translate(-50%, 0);
    background-color: #ffffff;
}
.tab-menu li>ul.best-book{
    display: none;
}
.tab-menu li>ul.best-book>li {
    float: left;
    height: 70%;
    margin-left: 16px;
    background-color: #fff;
}



.tab-menu li>ul.best-book.open {
    display: block;
}



ul.best-book div.desc {
    @include medium-price;
    background-color: #fff;
}

.tab-menu li ul.best-book>li img {
    display: block;
    width: 100%;
    max-width: 300px;
    height: 500px;
    margin: 0;

}

.best-book .price {
    @include medium-text;
    padding: 5px;
}

.best-book .price em {
    font-weight: 700;
    color: $color-blue;
}



/* deal */
section.deal {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #FFECCD;
}


.deal div.tit {
    position: absolute;
    padding-top: 20px;
    top: 50px;
    line-height: 1.5;
}

.deal h2 {
    font-size: 42px;
}

.deal span.tag {
    width: 90px;
    height: 90px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border-radius: 26px;
    color: #ffffff;
    background-color: #FF5B5B;
}


.deal ul.deal-list {
    float: right;
}

.deal ul.deal-list li {
    position: relative;
    width: 600px;
    background-color: #ffff;
    margin-top: 16px;
    padding: 10px;
}


ul.deal-list li img {
    width: 50%;
    max-width: 120px;
    height: 120px;
}


ul.deal-list .cont-txt {
    position: absolute;
    width: 50%;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cont-txt .price strong {
    @include medium-text;
    padding: 5px;
}

.cont-txt p {
    @include medium-text;
    font-weight: 700;
}

.cont-txt .price em {
    font-weight: 700;
    color: $color-blue;
}


// audio-book


section.best-audio {
    position: relative;
    width: 100%;
    height: 900px;
}

section.best-audio h2 {
    font-size: 24px;
    text-align: center;
    padding: 40px;
}

section.best-audio ul {
    @include list-row;
}

section.best-audio ul li {
    padding-left: 10px;
}


section.best-audio ul li img {
    display: block;
    width: 100%;
    height: 500px;
}

section.best-audio ul li p {
    @include x-small-text;
    color: #9C9999;
    padding-top: 5px;
}

section.best-audio ul li h3 {
    @include medium-text;
    color: #333333;

}

section.best-audio ul li span {
    @include small-text;
    padding: 5px;
    color: $color-grey;
}

section.best-audio .price {
    @include medium-text;
    padding: 5px;
}



section.best-audio .price em {
    font-weight: 700;
    color: $color-blue;
}

section.best-audio .rank {
    @include medium-text;
    position: absolute;
    width: 40px;
    height: 40px;
    color: #fff;
    padding: 10px;
    text-align: center;
    background-color: #888;
    z-index: 99;
}

section.best-audio li:nth-child(1) .rank {
    background-color: #FF5B5B;

}


/*footer*/
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 170px;
  font-size: 12px;
  color: #727070;
  background-color: #eeeeee;
}


#footer a.logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 20%;
  left: 12px;
}

#footer a.logo img {
  width: 200px;
  height: 100px;
}


ul.footer-menu {
  position: absolute;
  top: 20px;
  left: 10%;
  width: 100%;
  padding: 12px;
}


ul.footer-menu li {
  float: left;
  padding-left: 20px;

}

ul.footer-menu li::after {
  content: '';
  display: inline-block;
  margin-left: 14px;
  width: 1px;
  height: 10px;
  background-color: #939393;
}

ul.footer-menu li:last-child::after {
  content: '';
  width: 0;
  height: 0;
}

ul.address {
  position: absolute;
  width: 40%;
  height: 100%;
  left: 12%;
  top: 50%;
  font-size: 14px;
}

ul.address li {
  float: left;
  margin-left: 5px;
}


.sns {
  position: absolute;
  right: 20%;
  top: 20%;
}


ul.sns-list {

  font-size: 28px;
}

ul.sns-list li {
  float: left;
  margin-left: 5px;
}

.cel {
  position: absolute;
  right: 20%;
  top: 50%;
  font-size: 20px;

}

.cel em {
  font-weight: 700;
}



@keyframes bar-animation {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}